body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffff;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

@import "topBorder";
@import "mainSection";
@import "mediaQuery"
